* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #F7F3EE;
  color: #2B2B2B;
  line-height: 1.7;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

/* HEADER */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 45px 0;
  z-index: 1000;
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* BRAND */

.brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  width: 250px;
  height: auto;
  display: block;
}

/* MENU */

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-top: 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

nav ul li a:hover {
  color: #D8B26E;
}

/* HERO */

.hero {
  min-height: 100vh;

  background:
  linear-gradient(
    rgba(0,0,0,0.45),
    rgba(0,0,0,0.45)
  ),
  url("wallpaper.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* GENERAL SECTION */

section {
  padding: 120px 0;
}

section h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 40px;
  color: #3D2C1F;
}

/* ABOUT */

.about-section {
  display: flex;
  align-items: center;
  gap: 80px;
}

.about-image img {
  width: 320px;
  border-radius: 20px;
}

.about-content {
  flex: 1;
}

.about-content h2 {
  text-align: left;
  margin-bottom: 20px;
}

.about-content h3 {
  color: #8C6A45;
  margin-bottom: 30px;
  font-size: 24px;
}

.about-content p {
  font-size: 18px;
  margin-bottom: 40px;
}

.about-stats {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
}

.stat-card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  min-width: 180px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.stat-card h4 {
  font-size: 36px;
  color: #8C6A45;
}

blockquote {
  font-size: 22px;
  color: #555;
  font-style: italic;
}

/* MOBILE */

@media (max-width: 768px) {

  nav {
    flex-direction: column;
    gap: 30px;
  }

  nav ul {
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 0;
  }

  .logo {
    width: 200px;
  }

  
  .about-section {
    flex-direction: column;
  }

  .about-image img {
    width: 250px;
  }

  .about-stats {
    flex-direction: column;
  }

}
